body {
    background-color: #E4D1B9;
    font-family: lato, sans-serif;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 80%;
    width: 80%;
    object-fit: cover;
}