body {
	margin: 0;
	background-color: var(--main-bg-color);
	font-family: robo-lig, sans-serif;
	text-align: center;
	max-width: 100%;
	overflow-x: hidden;
	background-color: var(--main-bg);

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 5px;
}

.fa-solid {
	font-family: fo;
}

button {
	margin-block-end: 5px;
	border: 0;
	outline: 0;
	cursor: pointer;
	color: rgb(60, 66, 87);
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
		rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
		rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
		rgb(60 66 87 / 8%) 0px 2px 5px 0px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 8px;
	display: inline-block;
	min-height: 28px;
	transition: background-color 0.24s, box-shadow 0.24s;
}

button:hover {
	box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
		rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
		rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px,
		rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}