.user-msg {
    position: fixed;
    top: 100px;
    right: 20px;
    padding: 20px;
    border: 1px solid black;
    background: white;
    /* display: none; */
}

.user-msg.shown {
    display: block;
}

.user-msg.success {
    background: lightgreen;
}

.user-msg.danger {
    background: rgb(242, 121, 121);
}